<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AtoK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="HHSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="VOCComms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AtoK.Properties.Settings>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDocs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenLib" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComboboxItems" serializeAs="String">
                <value />
            </setting>
            <setting name="ComboBoxIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CBoxItems" serializeAs="String">
                <value />
            </setting>
            <setting name="PcbnewLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="TextEditorLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PcbnewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWarningsDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportFile" serializeAs="String">
                <value>True</value>
            </setting>
        </AtoK.Properties.Settings>
        <HHSetup.Properties.Settings>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BaselineTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AbsorbTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PauseTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DesorbTime" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="FlushTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BaselinePump" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AbsorbPump" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PausePump" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesorbPump" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FlushPump" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WaitPump" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaselineDivert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbsorbDivert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseDivert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesorbDivert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlushDivert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitDivert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Iterations" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SamplesPerSecond" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ExperimentName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ScanRate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Backlight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BacklightPercent" serializeAs="String">
                <value>100%</value>
            </setting>
            <setting name="PumpLowPercent" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="PumpMediumPercent" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PumpOffPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PumpHighPercent" serializeAs="String">
                <value>100</value>
            </setting>
        </HHSetup.Properties.Settings>
        <VOCComms.Properties.Settings>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </VOCComms.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
